
<!--  section 1 *********************-->
<div class="boxcontact">
    <img src="/assets/img/contact-new.jpg" alt="" class="responsive contact">
    <div class="contacts">
        <h1 class="text-center text-white ctus">CONTACT US</h1>
    </div>
    
</div>
<!--  section 1 *********************-->
<div class="container-fluid contactus">
    <div class="row">
        <div class="col-md-6 contact1">
             <h4 class="contus">SEND US MESSAGE</h4>
             <form>
                 <div class="form-row">
                    <div class="form-group col-md-11">
                      <input type="text" class="form-control" placeholder="Name">
                    </div>
                  </div>
                 <div class="form-row">
                    <div class="form-group col-md-11">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                 <div class="form-row">
                    <div class="form-group col-md-11">
                      <input type="phone" class="form-control" placeholder="Phone">
                    </div>
                  </div>
                  <div class="form-row">
                  <div class="form-group col-md-11">
                    <textarea class="form-control"   rows="2" placeholder="Message"></textarea>
                  </div>
                  </div>
                  <button type="button" class="btn btn-warning">Submit</button>
              </form>
              
        </div>
        <div class="col-md-6 contact2">
            <h4 class="contus">CONTACT INFO</h4>
            <strong class="info">Address</strong>
            <p>B6/22, 1st Floor, Safdarjung Enclave, New Delhi, INDIA</p>
            <strong class="info">For Franchise Enquiry</strong>
            <p>Mobile:<strong class="info">+91 9313663486</strong><br>
           Email:<strong class="info"> franchise@firstfiddle.in</strong></p>
           <strong class="info">For HR Enquiry</strong>
            <p>Mobile:<strong class="info">+91 9313663486</strong><br>
           Email:<strong class="info">careers@firstfiddle.in</strong></p>
           <strong class="info">For Other Enquiry</strong>
            <p>Mobile:<strong class="info">+91 9313663486</strong><br>
           Email:<strong class="info">customercare@firstfiddle.in</strong><br>
           Open: Monday – Saturday 10:30 – 19:30
           </p>
        </div>
    </div>

</div>
