

<div class="boxbarnds">
    <img src="/assets/img/brands.jpg" alt="" class="responsive">
    <div class="brands">
        <h1 class="text-center text-white">BRANDS</h1>
    </div>
    
</div>
 <!-- img -->
 <div class="container-fluid">
     <br>
     <div class="row">
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br1.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br2.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br3.png" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br4.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br5.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br6.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br7.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br8.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br9.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br10.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br11.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br12.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br13.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br14.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
         <div class="col-md-4">
             <a href="">
                 <img src="/assets/img/br15.jpg" class="img-fluid barndlogo"alt="" >
             </a>
         </div>
        
     
        
       
     </div>
 </div>