/* sction 1 */
img.responsive.team {
    width: 100%;
    height: auto;
}
.teams {
    position: absolute;
    color: #fff;
    text-align: center;
    left: 0;
    right: 0;
    top: 45%;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'prague';
    font-size: 80px;
}
h1.text-center.text-white.meet {
    font-size: 80px;
}
/* sction 1 */