<div class="box">
    <img src="assets/img/story.jpg" class="img-fluid" alt="">
    <div class="img-title">
        <h1 class="ourstory1">OUR STORY</h1>
        <h1 class="ourstory2">ABOUT FIRST FIDDLE RESTAURANTS</h1>
    </div>
</div>
  

<!-- since 1999 -->
<div class="container-fluid imggg">
    <div class="container ">
        <h2 class="text-center storu">OUR STORY <span class="since">SINCE 1999</span> </h2>
        <br>
         <div class="row">
             <div class="col-md-7">
                 <p class="text-justify">
                    First Fiddle Restaurants, formerly known as The Lazeez Affaire Group, was conceived in the year 1999 by Priyank Sukhija and Y.P. Ashok. The company is a renowned innovator and leader in the hospitality industry. Opened in the year 1999, the first outlet by the company- Lazeez Affaire, popularised the concept of fine dining in India. Following its success, places like Warehouse Cafe followed storming Delhi’s nightlife. Eventually, ‘The Flying Saucer Cafe’ captivated the metropolis with the famous Sufi nights. Other well-known brands include ‘Lord Of The Drinks’, 'Dragonfly Experience', 'Plum by Bentchair', ‘JLWA’, ‘Tamasha’, ‘Teddy Boy’, ‘Openhouse Cafe’, and others.
                    <br><br>
                    The company is dedicated to being a game changer in the F&B industry with the introduction of ‘concept’ restaurants. The company is committed to catering to the ever-changing cosmopolitan taste of its customers & customer satisfaction is an utmost priority. The restaurants are spread all over India in major metropolitan cities like New Delhi, Mumbai, Pune, Lucknow and more. Our major brands include ‘Lord of the Drinks’, 'Dragonfly Experience', 'Plum by Bentchair', ‘Tamasha’, ‘The FlyingSaucer Cafe’, ‘JLWA’ – to name a few. Plans for global expansion are underway.
                 </p>
             </div>
             <div class="col-md-5 text-center">
                 <img src="assets/img/ffabout.png" class="img-fluid sincst" alt="">
             </div>
         </div>
    </div>
</div>

<!-- game changer -->
<div class="container-fluid visit">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1>THE GAME CHANGER</h1>
                <p>
                    The company is dedicated to being a game changer in the F&B industry with the introduction of ‘concept’ restaurants. The company is committed to catering to the ever-changing cosmopolitan taste of its customers & customer satisfaction is an utmost priority.
                </p>
               
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<!-- THE PROLIFIC RESTAURANTEUR -->
 <div class="container prolif">
    <h1 class="text-center">THE PROLIFIC <span class="resto">RESTAURANTEUR</span> </h1>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img src="https://www.firstfiddle.in/assets/images/priyank2.png" class="profile" alt="" width="80%">
        </div>
        <div class="col-md-8">
            <p class="resp">30+ restaurants in 20 years, that’s no small attainment, but the prolific restaurateur Priyank Sukhija has done it, starting from the very young age of 19. Born in a family of lawyers, he became the only businessman in the family, opened the fine-dining restaurant Lazeez Affaire at Malcha Marg, in 1999. Beginning his journey with Lazeez Affaire, he created the most talked about brands in the hospitality industry- Lord of the Drinks, Plum by Bent Chair, Dragonfly Experience, JLWA, Tamasha, The Flying Saucer Cafe and many more. Coming from an era where people either opted for fine dining or clubbing, Priyank has been a true pioneer in building and popularizing the casual dining and successful in bringing a wave of innovation in the restaurant industry.</p>
        </div>
    </div>
</div>


<!-- join -->
<section>
    <div class="container-fluid four">
    <div class="container">
      <h2 class="text-center">JOIN <span style="color: #fbaa1a;">OUR FAMILY!</span> </h2>
      <div class="row mt-4">
         <div class="col-md-7">
           <P class="para" >At First Fiddle Restaurants, we leave no stone unturned to provide the most desirable experiences across markets and restaurants. Serving over five lakhs of customers monthly with 20+ brands and 35+ restaurants, our brands like Plum by Bent Chair, Dragonfly Experience, Tamasha, Daddy, JLWA, and many more have revolutionized the experience of dining & nightlife for everyone with its outstanding concepts. We're now foraying into franchising model, and franchise with First Fiddle Restaurants provides you with an already existing large customer base with the added advantage of nation-wide recognition.</P>
           
           <button type="button" class="btn btn-warning tex-white">FRANCHISE WITH US</button>
         </div>  
         <div class="col-md-5 text-center">
            <img src="assets/img/our-family.png" class="img-fluid family" alt="Responsive image" >
         </div>  
      </div>
    </div>
    </div>
  </section>

