
<!--  section 1 *********************-->

<div class="mybutton">
    <a href="">
        <button type="button" class="btn btn-warning text-white">LET'S CONNECT</button>
    </a>
</div>
<div class="boxfranc">
    <img src="/assets/img/franch.jpg" alt="" class="responsive franch">
   <div class="container connect" >
       <div class="row">
           <div class="col-md-4"></div>
           <div class="col-md-3"></div>
           <div class="col-md-5">
               <div class="formheader text-center">
                  <h4 class="form-titl">
                      <br>Inquiry Form
                  </h4>
               </div>
           </div>
       </div>
   </div>
    
</div>
<!--  section 1 *********************-->
