
<!--  section 1 *********************-->
<div class="boxpress">
    <img src="/assets/img/press.jpg" alt="" class="responsive pres">
    <div class="press">
        <h1 class="text-center text-white prre">PRESS RELEASE</h1>
    </div>
    
</div>
<!--  section 1 *********************-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center eye">THE VIEWER'S EYE</h4>
        </div>
        <div class="container-fluid">
            <ul >
                <li >
                    <a href="">
                        <img src="/assets/img/pr1.png" class="img-responsive" alt="" height="300" width="250">
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="/assets/img/pr2.png" class="img-responsive" alt=""  height="300" width="250">
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="/assets/img/pr3.png" class="img-responsive" alt=""  height="300" width="250">
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="/assets/img/pr4.png" class="img-responsive" alt=""  height="300" width="250">
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="/assets/img/pr5.png" class="img-responsive" alt=""  height="300" width="250">
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="/assets/img/pr6.png" class="img-responsive" alt=""  height="300" width="250">
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="/assets/img/pr7.png" class="img-responsive" alt=""  height="300" width="250">
                    </a>
                </li>
                <li >
                    <a href="">
                        <img src="/assets/img/pr8.png" class="img-responsive" alt=""  height="300" width="250">
                    </a>
                </li>
              
                
              </ul>
        </div>
    </div>
</div>