<div class="mainfooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="boximg">
                 <a href="">  <img class="img-fluid" src="assets/img/firstlogo.png" alt="image"> </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="contactf">
                    <h2 class="contact">
                         <span class="conh">CONTACT</span> US
                    </h2>
                    <p>We're a team focusing on redefining the way the hospitality industry works by bringing in concept based restaurants across india. We are truly committed to catering to the ever-changing cosmopolitan taste of the customer and revolutioning the F & B industry!</p>
                    <div class="infof">
                        <div class="row">
                            <div class="col-md-6 foot_add">
                                <span class="addr">
                                    <strong>Address</strong>
                                    <br>
                                    B6/22, 1st Floor, Safdarjung Enclave, New Delhi 110029, INDIA
                                </span>
                            </div>
                            <div class="col-md-6 foot_add" >
                                <span class="addr">
                                    <strong>Franchise Enquiry</strong>
                                    <br>
                                    Mobile: <strong>+91 9313663486</strong><br>
                                    Email:<strong>franchise@firstfiddle.in</strong>
                                </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 foot_add">
                                <span class="addr">
                                    <strong>HR Enquiry</strong>
                                    <br>
                                    Mobile:<strong>+91 9313663486</strong><br>
                                    Email:<strong>careers@firstfiddle.in</strong>
                                    <br>
                                </span>
                            </div>
                            <div class="col-md-6 foot_add" >
                                <span class="addr">
                                    <strong>Other Enquiry</strong>
                                    <br>
                                    Mobile: <strong>01141187447</strong><br>
                                    Email:<strong>customercare@firstfiddle.in</strong>
                                </span>
                            </div>
                        </div>
                             
                        <div class="social-icons text-left">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid sfooter">
    <div class="row">
        <div class="col-md-12">
        <div class="text-center">
            <p>
                PRIVACY POLICY | TERMS AND CONDITIONS | BLOG
                <br>
                COPYRIGHT © 2020 FIRST FIDDLE F&B PRIVATE LIMITED
            </p>
        </div>
        </div>
    </div>
</div>