.mainfooter
{
    background-color: #020306f0;
    padding: 50px;
}
.boximg {
    text-align: center;
}
.img-fluid {
    max-width: 50%;
    height: auto;
    
}
h2.contact {
    font-family: 'prague';
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0px;
    color: #fff;
}
span.conh {
    color: #ffad00;
}
.contactf p{
    color: #ffffffe3;
}
span.addr {
    color: #ffffffe3;
}
b, strong {
    font-weight: bolder;
    color: #ffad00;
}
.sfooter
{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sfooter p
{
    font-size: 13px;
    color: #ffffffe3;
    margin-top: 0px;
    margin-bottom: 0rem;
      text-align: center!important;

}